<%- include('./includes/header.ejs') %>
</head>
<body>
    <main>

        <div class="centered">
            <h1>Empty fridge</h1>
            <h2>Recipe Generator</h2>
        <form action="/recipes/login" method="POST">
         <input type="text" name="username" class="box" placeholder="username">
         <button type="submit" class="btn">Log in -></button>
        </form>
        </div>
    </main>
</body>
</html>